{
    "owners": ["755684912861937697"],
    "prefix": "#",
    "token": "NzUzNTAyNDUxMTE3NzE5NTUz.X1nH1w.ipA39Le6t1YcfiTvt3sUCAk8a8U",
    "dbltoken": "top.gg bot token, you can ignore this",
    "mongoose": "MongoDB uri",
    "shard": // Number of shards,
    "canary": true
}
