{
    "owners": ["755684912861937697"],
    "prefix": "#",
    "token": "NzUzNTAyNDUxMTE3NzE5NTUz.X1nH1w.ZqhJpi5gzrBy9TazoJ_pnF9k8Ok",
    "dbltoken": "top.gg bot token, you can ignore this",
    "mongoose": "MongoDB uri",
    "shard": // Number of shards,
    "canary": true
}
